<!DOCTYPE html>

<html>
    <head>
        <title>Layout Adptável e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h1>Layout Adaptável e Responsivo</h1>
        <h2>Utilizando CSS Media Queries</h2>
        <header>
            <p id="medidas">
                largura: <span id="largura"></span>
                altura: <span   id="altura"></span>
            </p>
            <p class="horizontal">Modo Paisagem</p>
            <p class="vertical">Modo Retrato</p>
            <script src="../js/medidas.js"></script>
        </header>
    </body>
</html>
